PORT=3000
HOSTNAME=0.0.0.0
NEXT_TELEMETRY_DISABLED=1
MONGODB_URI=mongodb://127.0.0.1:27017/newkanban
MONGODB_DB=newkanban
WORKSPACE_ID=visualai-guest

ENTERPRISE_MODE=false
MONGODB_LICENSE_ACKNOWLEDGED=false
